@use './functions.scss' as function;

@font-face {
  font-family: 'GilroyMedium';
  src: url('../media/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'GilroySemiBold';
  src: url('../media/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'GilroyBold';
  src: url('../media/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'GilroyExtraBold';
  src: url('../media/fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-display: swap;
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  outline: none;
  resize: none;
  color: aliceblue;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
body {
  min-width: 20rem;
  min-height: 100vh;
  background: #0e131e;
}

.root-container {
  max-width: 90rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
